.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #5834db; /* Darker background for Admin view */
    color: white;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.admin-logo-link {
    color: white; 
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
}

.header-nav .nav-link {
    color: #eee;
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 3px;
    transition: color 0.2s, border-bottom 0.2s;
}

.header-nav .nav-link:hover {
    color: #f1c40f; /* Highlight color */
    border-bottom: 2px solid #f1c40f;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.welcome-message {
    font-size: 1rem;
}

.logout-button {
    padding: 8px 15px;
    background-color: #ffffff; /* Red logout button */
    color: #5834db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-style: 'Times New Roman', Times, serif;
}