/* 1. Essential reset for height calculation */
html, body, #root {
    height: 100%; /* Ensure the ancestors of your React app take full height */
    margin: 0;
    padding: 0;
}

/* 2. Optional: Standard box sizing */
* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
